%link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/events/ideathon/201504.css', media: 'all' }
.container.events-ideathon-201504
  .row
    .col-md-10
      %h1 『医療 x ◯◯』 社内アイデアソンを実施しました！

      %p
        2015年4月13日にエムスリーで「医療・ヘルスケア」をテーマに
        %br/
        アイデアソン(決められたテーマのアイデアを話し合うイベント)を実施しました。

      .row
        .schedule
          %h2 タイムスケジュール

          %p
            アイデアソンは、2時間の中で「個人のアイデア出し⇒チームでまとめ」の作業を繰りを行うのスタイルでした。
            %br/
            次のような流れで、アイデアソンを実施しました。

      .row
        %table.table.table-striped
          %thead
            %tr
              %td.step-column ＳＴＥＰ０
              %td
                .row.step-title
                  自己紹介（チーム内　各自）
                .row.description
                  まずはアイスブレイクで、チーム内で自己紹介。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step0/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ１
              %td
                .row.step-title
                  デバイス・ペルソナ・シーン決定
                .row.description
                  チームで今回のアイデアソンで、誰の(ペルソナ)、どのようなシーンに必要なものを考えるかを決めます。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step1/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ２
              %td
                .row.step-title
                  アイデア出し（個人）
                .row.description
                  アイデアを一人２つ、附箋に書きだします。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step2/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ３
              %td
                .row.step-title
                  アイデア発表（全員 => チームに）
                .row.description
                  一人ひとりが書きだしたアイデアをグループ内で発表します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step3/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ４
              %td
                .row.step-title
                  再度アイデア出し（個人）
                .row.description
                  チームメンバーのアイデアをヒアリングして、ブラッシュアップしたアイデアを附箋に書きだします。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step4/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ５
              %td
                .row.step-title
                  効果・開発難易度を考慮しつつアイデア発表（全員）
                .row.description
                  書き出したアイデアを書いた附箋を、価値と技術の難易度を考慮しつつ、効果(価値)と開発難易度(実現可能性)の2軸で票に貼り付けます。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step5/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ６
              %td
                .row.step-title
                  チーム内投票（全員）
                .row.description
                  １人２票で、いいと思うものにチェックを付けて、チームのアイデアとして発表するものを決めます。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step6/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ７
              %td
                .row.step-title
                  発表準備（全員）
                .row.description
                  発表するための資料を作成します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step7/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ８
              %td
                .row.step-title
                  発表
                .row.description
                  チームごとに、作成したアイデアを他のメンバーに発表します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step8/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ９
              %td
                .row.step-title
                  全体投票（全員）
                .row.description
                  全員で、一番よいと思うアイデアを選びます。

      .row
        .schedule
          %h2 運営チームの感想

          %p
            今回は次の3つの目的でアイデアソンを実施しました。

            %ul
              %li 普段仕事をしないメンバーと交流する
              %li アイデア出しのスキルアップ
              %li 新規事業を考える

            開催後に参加者からアンケートからも、メンバー間のコミュニケーションや、お互いのアイデアを通じて刺激を与え合う事ができたと思います。
            %br/
            これからも積極的にアイデアソンやハッカソンを開催して、ハッカーやプランナーにとってよりよいカルチャーを作っていきたいです！

      .row
        .col-md-8
          %img{src: '/images/events/ideathon/group.jpg'}

      .row
        %h2 We're hiring!

        %p
          %strong
            M3ではアイデアソンが大好きなプランナーやハッカーを積極的に募集しています。
            %br/
            書類選考の前にエムスリーのことを知っていただくためにカジュアルな面談も可能です。
            %br/
            現在募集中の職種は
            %a{href: 'http://corporate.m3.com/recruit/job/', target: '_blank'} こちら
            です。